.jumbotron{
    height: 700px;
    overflow: hidden;
    position: relative;
}
.slidewrapper{
    position:absolute;
    left:0;
    top: 0;
    height: 700px;
    margin: 0;
    padding:0;
    width:100%;
}
.slider{
    height: 700px;
    width: 100%;
    float:left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider_1{
    background:url('../images/slider_marvel.jpg');
    background-size: cover;
}            
.slider_2{
    background:url('../images/slider_disney.jpg');
    background-size: cover;
}
.slider_3{
    background:url('../images/slider_PixarMagic.jpg');
    background-size: cover;
}
.slider_4{
    background:url('../images/slider_wb_dc.jpg');
    background-size: cover;
}
.slider_5{
    background: url('../images/url.jpg');
    background-size: cover;
}
.control{
    display: block;
    width: 15px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    margin: 25px;
}
#leftControl{
    top:45%;
    left:0px;
    background: transparent url('../images/dma-web-featured-arrow_left-mp.png');
}
#rightControl{
    top: 45%;
    right: 0;
    background: transparent url('../images/dma-web-featured-arrow_right-mp.png');
}
               
